{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 24px;
        margin: 20px 0;
    }
    p {
        font-size: 18px;
        margin: 10px 0;
    }
</style>

<h2>Data Uploaded Successfully!</h2>
<p>Thank you for uploading the time series data.</p>
<a href="http://127.0.0.1:8000/search/">Click Me To Explore Extracted Features</a>
{% endblock %}
